/*google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/*laypot*/

:root {
    --primary: #1aac83;
    --update: #1aac83;
    --delete: #e7195a;
    --error: #e7195a;
    --header: #fff;
    --body: #f1f1f1;
}

body {
    background: var(--body);
    margin: 0;
    font-family: "Poppins";
}

header {
    background: var(--header);
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}


/* Career Page  */

.carrer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

.vacancies-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.vacancies-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.vacancies-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.vacancies-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}

.vacancies-details button.deleteBtn {
    background: var(--delete);
    border: 0;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}

.vacancies-details button.updateBtn {
    background: var(--update);
    border: 0;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}


/* new woekout Form */

label,
input {
    display: block;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}

input.error {
    border: 1px solid var(--error);
}


/* The container */

.radiocontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #d3d2d2;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radiocontainer:hover input~.radiocheckmark {
    background-color: #a2a2a2;
}


/* When the radio button is checked, add a blue background */

.radiocontainer input:checked~.radiocheckmark {
    background-color: var(--primary);
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radiocontainer input:checked~.radiocheckmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radiocontainer .radiocheckmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}